.currencyList {
  &-item {
    cursor: pointer;
    background-color: $bgcolor;
    border-right: solid 1px $basecolor-lighter;
    transition: background-color 0.4s ease;
    &:last-child &-content{
      border-bottom: 0;
    }
    &.active {
      background-color: $white;
      border-right: 0;
    }
    &:hover {
      background-color: darken($bgcolor, 2%);
    }
    
    &-content {
      border-bottom: solid 1px $basecolor-lighter;
      padding: $spacing*3;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-title {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: $weight-bold;
      width: $spacing*8;
    }

    &-chart {
      width: $spacing*18;
    }

    &-value {
      width: $spacing*8;
      text-align: right;
    }
  }
}
