* {
  box-sizing: border-box;
  outline: none; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

a {
  cursor: pointer; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  margin: 0;
  appearance: none; }

input[type=number] {
  appearance: textfield; }

textarea {
  vertical-align: top; }

.highlight-positive {
  color: #26e2a7; }

.highlight-negative {
  color: #EF5350; }

.arrow-back {
  position: relative;
  position: relative;
  color: #26e2a7;
  display: block;
  padding-left: 24px;
  cursor: pointer; }
  .arrow-back:before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    left: 4px;
    top: 4px;
    width: 4px;
    height: 4px;
    border: solid 2px;
    border-color: transparent transparent #26e2a7 #26e2a7; }

.layout {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1200px;
  border-right: solid 1px #EEEEEE;
  border-left: solid 1px #EEEEEE;
  background-color: #FFFFFF; }
  .layout-aside {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow: auto;
    width: 320px; }
  .layout-main {
    padding-left: 320px;
    width: 100%; }

@media only screen and (max-width: 767px) {
  .mainWrapper {
    overflow-x: hidden; }
  .layout {
    white-space: nowrap;
    transition: transform 0.4s ease-in-out; }
    .layout > * {
      white-space: normal; }
    .layout-aside {
      position: static;
      display: inline-block;
      width: 100%; }
    .layout-main {
      padding-left: 0;
      display: inline-block;
      vertical-align: top; } }

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #222222;
  background-color: #F4F7F9; }

.currencyList-item {
  cursor: pointer;
  background-color: #F4F7F9;
  border-right: solid 1px #EEEEEE;
  transition: background-color 0.4s ease; }
  .currencyList-item:last-child .currencyList-item-content {
    border-bottom: 0; }
  .currencyList-item.active {
    background-color: #FFFFFF;
    border-right: 0;
    pointer-events: none; }
  .currencyList-item:hover {
    background-color: #edf2f5; }
  .currencyList-item-content {
    border-bottom: solid 1px #EEEEEE;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .currencyList-item-title {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    width: 64px; }
  .currencyList-item-chart {
    width: 144px; }
  .currencyList-item-value {
    width: 64px;
    text-align: right; }

@media only screen and (max-width: 767px) {
  .currencyList-item {
    border-right: 0; }
    .currencyList-item.active {
      background-color: #F4F7F9;
      pointer-events: all; } }

.currencyDetail {
  padding: 24px;
  background: #FFFFFF; }
  .currencyDetail-header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    color: #AAAAAA;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: solid 1px #EEEEEE; }
  .currencyDetail-info-rate {
    font-weight: 600;
    padding-right: 8px; }
  .currencyDetail-info-value {
    font-size: 40px;
    line-height: 42px;
    font-weight: 400;
    color: #222222;
    margin-bottom: 8px; }
  .currencyDetail-data {
    text-align: right; }
    .currencyDetail-data-title {
      color: #222222;
      font-weight: 600; }
  .currencyDetail-disclaimer {
    color: #AAAAAA;
    font-size: 13px;
    font-weight: 400; }
    .currencyDetail-disclaimer-title {
      font-size: 18px;
      color: #222222;
      font-weight: 600;
      border-bottom: solid 1px #EEEEEE;
      padding-bottom: 8px;
      margin-bottom: 8px; }
  .currencyDetail-chart {
    margin: 32px 0; }
    .currencyDetail-chart canvas {
      width: 100% !important; }
  .currencyDetail-back {
    display: none;
    padding: 0 0 24px 24px;
    margin-bottom: 24px;
    border-bottom: solid 1px #EEEEEE; }
  .currencyDetail-actions {
    margin-top: 32px;
    text-align: right; }
    .currencyDetail-actions > *:not(:last-child) {
      margin-right: 8px; }

@media only screen and (max-width: 767px) {
  .currencyDetail-back {
    display: block; } }

@keyframes blink {
  48% {
    height: 100%;
    top: 0; }
  50% {
    height: 0;
    top: 50%; }
  52% {
    height: 100%;
    top: 0; } }

@keyframes move {
  20% {
    left: 15%; }
  25%, 35% {
    left: 5%; }
  45%, 55% {
    left: 25%; }
  60% {
    left: 15%; } }

.blankSlate {
  margin-top: 100px;
  text-align: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400; }
  .blankSlate-emoji {
    width: 100px;
    height: 100px;
    margin: 0 auto 40px auto;
    position: relative; }
    .blankSlate-emoji-head {
      position: absolute;
      left: 0%;
      top: 0%;
      width: 100%;
      height: 100%;
      border: solid 3px #26e2a7;
      border-radius: 50%; }
    .blankSlate-emoji-face {
      position: absolute;
      left: 15%;
      top: 50%;
      width: 70%;
      height: 24%;
      animation: move 4s infinite; }
    .blankSlate-emoji-eyes {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 46%; }
      .blankSlate-emoji-eyes:before, .blankSlate-emoji-eyes:after {
        content: "";
        position: absolute;
        width: 16%;
        height: 100%;
        border-radius: 50%;
        background-color: #26e2a7;
        animation: blink 3s infinite; }
      .blankSlate-emoji-eyes:before {
        left: 0; }
      .blankSlate-emoji-eyes:after {
        right: 0; }
    .blankSlate-emoji-mouth {
      position: absolute;
      left: 28%;
      bottom: 0;
      height: 12%;
      width: 44%;
      background-color: #26e2a7; }

.button-primary, .button-secondary {
  border: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  text-align: center;
  min-width: 128px;
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.4s linear; }

.button-primary {
  border-radius: 4px;
  background-color: #26e2a7;
  color: #FFFFFF; }
  .button-primary:hover {
    background-color: #1dd79c; }

.button-secondary {
  border-radius: 4px;
  border: solid 1px #26e2a7;
  color: #26e2a7; }
  .button-secondary:hover {
    background-color: rgba(38, 226, 167, 0.1); }

@media only screen and (max-width: 767px) {
  .showDetail {
    transform: translateX(-100%); }
    .showDetail .layout-aside {
      max-height: 100vh; } }
