// colors
$white: #FFFFFF;
$black: #000000;

$basecolor: #222222;
$basecolor-light: #666666;
$basecolor-lighter: #CCCCCC;
$bgcolor: #F2F2F2;

$maincolor: #64FFDA;

// spaces
$spacing: 8px;

// typos
$mainfont: "Barlow Semi Condensed", sans-serif;
$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;
